
  <body>
    <h1>Welcome to Mango Station!</h1>
    <p>Thank you for registering for the Mango Station NewsLetter.  You will continue
    to receive the best deals for booking at our hotel.</p>
    <p>If at any point you wish to unsubscribe from our mailing list, please click
    this link.</p>
    <a href="#">Unsubscribe</a>
  </body>
