/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 a:link {
   text-decoration: none;
   color: black;
 }

 /* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}; */

*{
  box-sizing: border-box;
}


header{
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.nav-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid lightgrey;
}

.left-nav{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.left-nav h1{
  width: 30%;
  margin: 0;
}

.left-nav img{
  width: 20%;
}

.right-nav{
  align-items: center;
}

.right-nav-top{
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.right-nav-bottom{
  display: flex;
}

.right-nav-bottom{
  display: flex;
  align-items: center;
}

.right-nav-bottom a{
  padding: 20px;
  font-size: 20px;
}


#mail{
  color: red;
  font-size: 50px;
}

#phone{
  font-size: 30px;
  color: red;
}

a.button{
  background-color: orange;
  border: 1px solid black;
  border-radius: 2px;
  color: white;
  padding: 5px;
}


.home-container{
  width: 80%;
  margin: 0 auto;
}

.slideshow{
  margin: 0 auto;
  padding-top: 20px;
  width: 80%;
}

.slide{
  width: 600px;
  height: 400px;
  margin: 0 auto;
  -webkit-transition: background 1s;
   -moz-transition: background 1s;
   -o-transition: background 1s;
   transition: background 1s;
}

.search-form-container h1{
  text-align: center;
}

.search-form-container form{
  display: flex;
  justify-content: center;
}


.search-form-container form select{
  padding: 5px;
  height: 50px;
  margin-left: 5px;
}

.search-form-container form button{
  padding: 5px;
  margin-left: 5px;
}



.picker{
  padding: 5px;

}

.map-section{
  margin-top: 150px;
}

.map-section h1{
  text-align: center;
}

#map-container{
  width: 500px;
  height: 500px;
  width: 80%;
  margin: 0 auto;
}

.search-warning{
  color: red;
  margin: 0 auto;
  width: 40%;
  text-align: center;
}

.booking-form-container{
  width: 80%;
  margin: 0 auto;
}

.booking-form{
  display: flex;
  flex-direction: column;
}

/* *{
  border: 1px solid red;
}

html{
  background-color: #FFE043;
  color: white;
} */
