/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
   margin: 0;
   background-color: dimgrey;
   color: white;

   /* background-image: url(taipei_main.jpg) */
 }

.right-nav a:link {
   text-decoration: none;
   color: white;
 }

 /* a{
   color: white;
   text-decoration: none;
 } */

 /* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}; */

*{
  box-sizing: border-box;
}


button{
  cursor: pointer;
  background-color: white;
}

select{
  background-color: white;
}

.active{
  color: red
}

.content-wrapper{
  width: 80%;
  margin: 0 auto;
  background-image: url(taipei_main.jpg);
  height: 800px;
}

header{
  display: flex;
  /* background-color: hsl(300, 90%, 31%); */
  border-radius: 5px;
}

.nav-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.left-nav{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.left-nav h1{
  width: 30%;
  margin: 0;
}

.left-nav img{
  width: 20%;
}

.right-nav{
  align-items: center;
}

.right-nav-top{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.right-nav-top a span{
  font-size: 20px;
  color: white;
}


.right-nav-bottom{
  display: flex;
}

.right-nav-bottom{
  display: flex;
  align-items: center;
}

.right-nav-bottom button{
  padding: 20px;
  font-size: 20px;
  color: white;
  background: none;
  border: none;
}


#mail{
  color: white;
  font-size: 50px;
}

#phone{
  font-size: 30px;
}

a.button{
  background-color: orange;
  border: 1px solid black;
  border-radius: 2px;
  color: white;
  padding: 5px;
}


.home-container{
  /* background-color: orchid; */
  border-top: 1px solid pink;
  border-radius: 5px;

}

.slideshow{
  margin: 0 auto;
  width: 80%;
}

.slide{
  width: 700px;
  height: 400px;
  margin: 0 auto;
  -webkit-transition: background 2s;
   -moz-transition: background 2s;
   -o-transition: background 2s;
   transition: background 2s;
}

.search-form-container{
  margin-top: 360px;
}

.search-form-container h1{
  text-align: center;
}

.search-form-container form{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 10px;
  background-color: white;
  width: 50%;

}



.search-form-container form select{
  padding: 5px;
  height: 50px;
  margin-left: 5px;
  background-color: orange;
  color: white;
}

.date-separator{
  color: black;
  margin: 15px;
}

.react-date-picker__wrapper{
  border: none !important;
}




/* .search-form-container form button{
  padding: 5px;
  margin-left: 5px;
  width: 100px;
  border-radius: 10px;
  color: white;
  background-color: orange;
} */

.search-button{
  padding: 5px;
  margin-left: 5px;
  width: 100px;
  border-radius: 10px;
  color: white;
  background-color: orange;
}


.picker{
  color: black;
}

.map-section{
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-section h1{
  text-align: center;
}

#map-container{
  width: 500px;
  height: 500px;
  width: 80%;
  margin: 0 auto;
}

.search-warning{
  color: red;
  margin: 0 auto;
  width: 40%;
  text-align: center;
}

/* .booking-form-container{
  margin: 0 auto;
  padding-top: 50px;
  width: 30%;
} */




.booking-form{
  display: flex;
  flex-direction: column;
}



/* *{
  border: 1px solid red;
}

html{
  background-color: #FFE043;
  color: white;
} */

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #ffffff;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.booking-container{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* background-color: orchid; */
  border-radius: 10px;
}

.beds-container{
  border: 1px solid mistyrose;
  border-radius: 5px;
  padding: 20px;
  background-color: dimgrey;
  margin-right: 40px;
  margin-top: 30px;
}

.beds-container h3{
  text-align: center;
}

.beds-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.booking-form-container{
  border: 1px solid mistyrose;
  border-radius: 5px;
  padding: 20px;
  background-color: dimgrey;
  margin-top: 30px;
}
.booking-form-container h3{
  text-align: center;
}

.booking-form-container a{
  margin: 0 auto;
}


.booking-form-container form span{
  font-weight: bold;
  margin: 5px;
}

.booking-form-container form select{
  width: 55%;
  /* margin: 0 auto; */
}

.booking-form-container form input{
  border-radius: 10px;
  height: 25px;
}


.booking-form-container form button{
  width: 50%;
  height: 30px;
  border-radius: 5px;
  margin: 0 auto;
}

.room-photo{
  width: 250px;
  height: 150px;
}
/* .beds-wrapper div img{
  width: 250px;
  height: 150px;
} */

img.icon{
  width:  60px;
  height: 60px;
}

/* .booking-form-container label input{
  width: 50%;
  margin: 0 auto;
  border-radius: 3px;
}

.booking-form-container label select{
  width: 50%;
  margin: 0 auto;
} */
.booking-container{
-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
     -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

.confirmation-container{
  width: 100%;
  border-radius: 10px;
  /* background-color: orchid */
}

.confirmation-wrapper{
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

.confirmation-wrapper div{
  background-color: dimgrey;
  border: 1px solid mistyrose;
  border-radius: 10px;
  padding: 5px;
  width: 420px;
  margin: 10px;
}



.return-button{
  text-decoration: none;
  color: white;
  background-color: dimgrey;
  padding: 10px;
  border-radius: 10px;
  height: 40px;
  border: 1px solid mistyrose;
  margin: 0 auto;
}


.confirmation-details{
  margin-top: 10px;
}


.confirmation-contact-messages{
  margin-top: 10px;
}

.login-form-container{
  width: 25%;
  margin: 0 auto;
  background-color: darksalmon;
  border-radius: 5px;
}

.login-header{
  flex-direction: column;
  align-items: center;
}

.login-header span a{
  /* text-decoration: none; */
  color: white;
}

.login-form-container form {
  display: flex;
  flex-direction: column;
}

.login-form-container form span{
  margin-top: 2px
}

.login-form-container form input{
  border-radius: 10px;
  height: 25px;
  margin: 5px
}


.login-form-container form button{
  width: 50%;
  height: 30px;
  border-radius: 5px;
  margin: 0 auto;
}


.dropdown{
  display: none;
}

.link-wrapper{
  width: 225px;
  margin: 0 auto;
  margin-top: 30px;
}

.slideshow-container h1{
  text-align: center
}

@media only screen and (max-width: 800px) {
  .content-wrapper {
    width: 105%;
  }
}
